.App {
  text-align: center;
  color: white;
}

.content {
  margin:0px auto;
  /* padding: 50px; */
  /* border-bottom: 1px ridge; */
 
  /* display: flex; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 30%;
  /* height: 0%;  */
  background-color: oldlace;
}
